<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYN: About Us</title>
    <link rel="stylesheet" href="stylesheets/WYN.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color: #FEF5E4;">

    <%- include("header")%>

    <div  id="collab-container">

    </div>


    </div>
    <div class="main-container-about-us" style="background-color: #FEF5E4;">
        <div class="about-us-container">    
            <h1><span style="color: #006AFE; font-size: 20; text-align: center; ">About Us</span></h1>
            <br>
            <p>WYN is a platform that connects people who need services with people who provide services. We believe that everyone has something to offer, and that everyone has something they need. Our goal is to make it easy for people to find each other and help each other out.
            <br>
            <br>Whether you need help with your lawn, your car, babysitting, or anything else, WYN is here to help. Our platform is easy to use, and we make it easy to find the services you need. Just tell us what you need, and we'll connect you with someone who can help.
            <br>
            <br>WYN is all about community. We believe that when people come together to help each other, amazing things can happen. We're here to help you find the services you need, and to help you connect with people who can help you out. So whatever you need, WYN is here to help.
            </p>
        </div>
    </div>
        
    <div class="meet-out-team-container" style="background-color: #FEF5E4;">
        <h1><span style="color: #006AFE; font-size: 20; text-align: center; padding-left: 100px">Meet Our Team</h1>
        <div class="flex-box-row" id="team-div" style="color: #006AFE;">
            <div class="team-members" style="background-color: #FEF5E4">
                <img src="images/ethan.jpg" alt="Member 1">
                <h3>Ethan Nelson</h3>
                <div class="team-bio" style="color: #006AFE;">
                    Ethan Nelson is a Computer Science Major and Digital Technology and culture at Washington State University
                    <br>
                    He plays and develops video games in his free time.
                    <br>
                    He assisted in the design of pages, and implemented forms and data.
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: #006AFE">www.linkedin.com/in/ethan-nelson-9263402a6/<i class="fa fa-linkedin-square" style="padding-left: 7px"></i></p>
                <p>Developer</p> 
            </div>
            <div class="team-members" style="background-color: #FEF5E4">
                <img src="images/rachel.png" alt="Member 2">
                <h3>Rachel Jones</h3>
                <div class="team-bio" style="color: #006AFE;">
                    Rachel is a senior Graphic Design major and Comp Sci minor at Washington State University.
                    <br>
                    She likes to hike and play soccer in her free time. 
                    <br>
                    She contributed graphics and functionality to WYN. 
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: #006AFE">www.linkedin.com/in/rachel-jones3<i class="fa fa-linkedin-square" style="padding-left: 7px"></i></p>
                <p>Designer and Developer</p>
            </div>
            <div class="team-members" style="background-color: #FEF5E4">
                <img src="images/katie.jpeg" alt="Member 3">
                <h3>Katie Brickner</h3>
                <div class="team-bio" style="color: #006AFE;">
                    fewfdesfs fesfsd fesfeds fesfcds
                    <br>
                    fefse fsdeefsdgf fesfsfsd dwqfsefges awfsdad
                    <br>
                    gesfesd fesfse fesdfdsf fesfsdf fesfcds
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: #006AFE">Name 3<i class="fa fa-linkedin-square" style="padding-left: 7px"></i></p>
                <p>Developer</p>
            </div>
    </div>


    <div class="footer-container-fluid">

    </div>
    <footer>
        <div class="flex-box-row" id="footer-div">
            <div class="flex-item">
                <h3><a class="underlineLink" href="/">home</a></h3>
            </div>
            <div class="flex-item">
                <img src="/images/main-logo-white.png">
            </div>
            <div class="flex-item">
                <h3><a class="underlineLink" href="aboutUs.ejs">about us</a></h3>
            </div>
        </div>
    </footer>




    
</body>
</html>