<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYN: About Us</title>
    <link rel="stylesheet" href="stylesheets/WYN.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header style="position: sticky; top: 0; z-index: 100;">
        <div class="flex-box-row" id="header-div">
            <div class="flex-box-row" id="header-left">
                <div class="flex-item">
                    <h2><a class="underlineLink" href="serviceListings.ejs">services</a></h2>
                </div>
            </div>
            <div class="flex-item" id="header-middle">
                <div class="flex-item">
                    <a href="/"><img src="images/main-logo-blue.png" id="header-logo"></a>
                </div>
            </div>
            <div class="flex-item" id="header-right">
                <h2><a href="login.ejs">login/sign up</a></h2>
            </div>
        </div>
    </header>

    <div  id="collab-container">

    </div>


    </div>
    <div class="main-container-about-us">
        <div class="about-us-container">    
            <h1><span style="color: black; font-size: 20; text-align: center; ">About Us</span></h1>
            <br>
            <p>WYN is a platform that connects people who need services with people who provide services. We believe that everyone has something to offer, and that everyone has something they need. Our goal is to make it easy for people to find each other and help each other out.
            <br>
            <br>Whether you need help with your lawn, your car, babysitting, or anything else, WYN is here to help. Our platform is easy to use, and we make it easy to find the services you need. Just tell us what you need, and we'll connect you with someone who can help.
            <br>
            <br>WYN is all about community. We believe that when people come together to help each other, amazing things can happen. We're here to help you find the services you need, and to help you connect with people who can help you out. So whatever you need, WYN is here to help.
            </p>
        </div>
    </div>
        
    <div class="meet-out-team-container">
        <h1><span style="color: black; font-size: 20; text-align: center;">Meet Our Team</h1>
        <div class="flex-box-row" id="team-div">
            <div class="team-members">
                <img src="images/blank-profile-picture.png" alt="Member 1">
                <h3>Member 1</h3>
                <div class="team-bio">
                    fewfdesfs fesfsd fesfeds fesfcds
                    <br>
                    fefse fsdeefsdgf fesfsfsd dwqfsefges awfsdad
                    <br>
                    gesfesd fesfse fesdfdsf fesfsdf fesfcds
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: black">Name 1<i class="fa fa-linkedin-square" style="padding-left: 7px"></i></p>
                <p>Lead Developer</p> 
            </div>
            <div class="team-members">
                <img src="images/blank-profile-picture.png" alt="Member 2">
                <h3>Member 1</h3>
                <div class="team-bio">
                    fewfdesfs fesfsd fesfeds fesfcds
                    <br>
                    fefse fsdeefsdgf fesfsfsd dwqfsefges awfsdad
                    <br>
                    gesfesd fesfse fesdfdsf fesfsdf fesfcds
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: black">Name 2<i class="fa fa-linkedin-square" style="padding-left: 7px"></i></p>
                <p>Designer</p>
            </div>
            <div class="team-members">
                <img src="images/blank-profile-picture.png" alt="Member 3">
                <h3>Member 2</h3>
                <div class="team-bio">
                    fewfdesfs fesfsd fesfeds fesfcds
                    <br>
                    fefse fsdeefsdgf fesfsfsd dwqfsefges awfsdad
                    <br>
                    gesfesd fesfse fesdfdsf fesfsdf fesfcds
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: black">Name 3<i class="fa fa-linkedin-square" style="padding-left: 7px"></i></p>
                <p>Project Manager</p>
            </div>
            <div class="team-members">
                <img src="images/blank-profile-picture.png" alt="Member 4">
                <h3>Member 3</h3>
                <div class="team-bio">
                    fewfdesfs fesfsd fesfeds fesfcds
                    <br>
                    fefse fsdeefsdgf fesfsfsd dwqfsefges awfsdad
                    <br>
                    gesfesd fesfse fesdfdsf fesfsdf fesfcds
                    <br>
                </div>
                <p><span style="font-weight: 700; font-size: 26; color: black">Name 4<i class="fa fa-linkedin-square" ></i></p> 
                <p>CEO</p>
            </div>
    </div>


    <div class="footer-container-fluid">

    </div>
    <footer>
        <div class="flex-box-row" id="footer-div">
            <div class="flex-item">
                <h3><a class="underlineLink" href="/">home</a></h3>
            </div>
            <div class="flex-item">
                <img src="images/main-logo-white.png">
            </div>
            <div class="flex-item">
                <h3><a class="underlineLink" href="aboutUs.ejs">about us</a></h3>
            </div>
        </div>
    </footer>




    
</body>
</html>