<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WYN: <%= user.username %>'s Profile</title>
    <link rel="stylesheet" href="/stylesheets/WYN.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body>

    <%- include("header")%>

    
    <h1><span style="color: black; text-align: center; "><%= user.username %>'s Profile</span></h1>
    <div id="default-profile"></div>

    <div class="main-container-profile">
        <div class="flex-profile-container" style="display: flex; flex-direction: row;">    
            <div class="flex-item-profile">
                <h2><a href="editProfile.js" class="profile-options">Name</a></h2>
                <h2><a href="editEmail.js" class="profile-options">Email</a></h2>
            </div>

            <div class="flex-item-profile" style="padding-top: 10px">
            <h2><a style="display: flex; flex-direction: row; background-color: white; height: 30px; width: 150px;"></a></h2>
            <h2><a style="display: flex; flex-direction: row; background-color: white; height: 30px; width: 150px;"></a></h2>
            </div>

            <div class="flex-item-profile">
                <h2><a href="editPhoneNumber.js" class="profile-options">Phone Number</a></h2>
                <h2><a href="editLocation.js" class="profile-options">Location</a></h2>
            </div>

            <div class="flex-item-profile" style="padding-top: 10px">
                <h2><a style="display: flex; flex-direction: row; background-color: white; height: 30px; width: 150px;"></a></h2>
                <h2><a style="display: flex; flex-direction: row; background-color: white; height: 30px; width: 150px;"></a></h2>
            </div>

            <div class="flex-item-profile" id="offered-provided-container">
                <h2><a class="profile-options">Provided Services</a></h2>
            </div>
            <div class="flex-item-profile" style="padding-top: 10px">
                <div class="dropdown">
                    <button class="dropbtn">Select Service</button>
                    <div class="dropdown-content">
                        <a href="#">Service 1</a>
                        <a href="#">Service 2</a>
                        <a href="#">Service 3</a>
                        <a href="#">Service 4</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="flex-item" id="header-right" style="align-items: center; justify-content: center;
    margin: 20px auto; padding: 10px 20px; font-size: 16px;">
        <h2><a href="makePost.ejs">Make Post</a></h2>
    </div>



    <div id="post-container">
        <div class="post">
            <div class="post-image"style="background-image: url('/images/Landscaper.jpg')"> 
                <div class="post-content">
                    <h2>Mural Painting</h2>
                    <p>Chloe's art corner</p>
                </div>
            </div>
            <div class="post-image" style="background-image: url('/images/Landscaper.jpg');"> 
                <div class="post-content">
                    <h2>Mural Painting</h2>
                    <p>Chloe's art corner</p>
                </div>
            </div>
        </div>
        <div id="post" >
            <div class="post-image"style="background-image: url('/images/Landscaper.jpg')"> 
                <div class="post-content">
                    <h2>Mural Painting</h2>
                    <p>Chloe's art corner</p>
                </div>
            </div>
            <div class="post-image" style="background-image: url('/images/Landscaper.jpg');"> 
                <div class="post-content">
                    <h2>Mural Painting</h2>
                    <p>Chloe's art corner</p>
                </div>
            </div>
        </div>
        <div id="post" >
            <div class="post-image"style="background-image: url('/images/Landscaper.jpg')"> 
                <div class="post-content">
                    <h2>Mural Painting</h2>
                    <p>Chloe's art corner</p>
                </div>
            </div>
            <div class="post-image" style="background-image: url('/images/Landscaper.jpg');"> 
                <div class="post-content">
                    <h2>Mural Painting</h2>
                    <p>Chloe's art corner</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex-item" id="header-right" style="align-items: center; justify-content: center;
    margin: 20px auto; padding: 10px 20px; font-size: 16px;">
        <h2><a href="">Logout</a></h2>
    </div>

    <footer>
        <div class="flex-box-row" id="footer-div" style="margin-top: 200px;">
            <div class="flex-item">
                <h3><a class="underlineLink" href="/index.ejs">home</a></h3>
            </div>
            <div class="flex-item">
                <img src="/images/main-logo-white.png">
            </div>
            <div class="flex-item">
                <h3><a class="underlineLink" href="/aboutUs">about us</a></h3>
            </div>
        </div>
    </footer>
</body>
</html>