:root {
    --WYNblue: #006afe;
    --WYNorange: #ff6f26;
    --WYNgold: #cfb228;
    --WYNwhite: #fef5e4;
    --WYNgray: gray;
}

body{
	font-family: 'Josefin Sans', sans-serif;
	margin: 0px;
	padding: 0px;
}


/* ABOUT US */
.main-container-about-us{
	margin-top: 50px;
	margin-left: 100px;
	display: flex;
	flex-direction: row;
	padding-bottom: 50px;
}

.about-us-container{
	color: #006AFE;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-right: 100px;
}

#collab-container::before{
	background: rgba(0, 106, 254, .35);
	content: "";
	position: absolute;
	width: 100%;
	height: 600px;

}

#collab-container{
	background-image: url('/images/aboutUsOffice.jpg');
	background-size: cover;
	width: 100%;
	height: 600px;
}

#team-div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	width: 100%;
	margin-bottom: 10px;
}

.team-members {
	background-color: white;
	border: 1px solid grey;
	border-radius: 8px;
	padding: 15px;
	width: 200px; 
	text-align: center;
	box-shadow: 0 2px 5px black;
	margin-bottom: 50px;
}

.team-members img {
	width: 100%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 10px;
}
  
  .team-members h3 {
	margin: 10px 0 5px;
	font-size: 18px;
}

.team-members p {
	font-size: 14px;
	color: grey;
}

.team-bio{
	color: black;
	text-align: center;
	font-size: 12px;
}

  /* PROFILE */
.profile-image{
	height: 10px;
	width: 10px;
	border: 2px solid #cfb228;
}

.main-container-profile{
	padding: 20px;
	background-color: #fef5e4;
}

.flex-profile-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 15px; 
    padding: 15px;
    background-color: #006AFE;
	margin-right: 10px;
}

.flex-profile-container h2 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}

.profile-options {
	text-decoration: none;
	color: #333;
	padding: 10px 60px;
	border-radius: 5px;
	transition: background-color 0.3s ease;

}

.flex-item-profile{
	display: flex; 
	flex-direction: column;
}

.profile-options:hover {
	background-color: #FF6F26;
	color: #FEF5E4;
}

#offered-provided-container:hover{
	background-color: #006afe;
	color: #FEF5E4;
}


#default-profile{
	background-image: url('images/blank-profile-picture.png');
	background-size: cover;
	width: 200px; 
	height: 200px; 
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;	
}

.dropbtn{
	background-color: #fef5e4;
	color: #006afe;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #fef5e4;
	min-width: 136px;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
	color: #006afe;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover{
	background-color: #ff6f26;
	color: #fef5e4;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown:hover .dropbtn{
	background-color: #ff6f26;
	color: #fef5e4;
}

/* MAKE POST*/
#post-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px; 
	padding: 20px;
	margin-bottom: auto;
}

.post{
	background: white;
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.post-image{
	height: 150px;
	background-size: cover;
	background-position: center;
	margin-bottom: 160px;
	margin-right: 40px;
}

.post-content{
	padding: 10px;
	text-align: center;
}

.post-content h2 {
	color: #006afe;
	margin-top: 160px;
	font-size: 20px;
}
  
.post-content p {
	color: #006afe;
	font-size: 14px;
	margin: 0;
}

#post{
	height: 500px;
	
}

#make-post-container{
	background-color: #006afe;
	padding: 20px;
	margin: 100px 100px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.make-post-row{
	color: #fef5e4;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	gap: 30px;
	flex-wrap: wrap;
}

.make-post-btn{
	font-weight: bold;
	background-color: #fef5e4; 
	color: black; 
	padding: 14px 20px; 
	margin: 8px 0; 
	border: none; 
	cursor: pointer;
	width: auto;
	border-radius: 8px;
}

.make-post-btn:hover{
	background-color: #ff6f26;
	color: white;
}

.flex-box-row{
	display: flex;
	flex-direction: row;
}

.flex-box-row{
	display: flex;
	flex-direction: row;
}

.flex-box-column{
	display: flex;
	flex-direction: column;
}

#header-div{
	height: 150px;
	background-color: #FEF5E4;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.9);
	z-index: 10;
	border-bottom: 1px solid var(--WYNblue);
}

#header-logo{
	width: 114px;
	height: 77px;
}

#header-left{
	color: #006AFE;
}

#header-left .flex-item{
	padding-left: 75px;
	font-size: 14px;
}

/* #header-left .flex-item:hover{
	padding-left: 75px;
	font-size: 14px;
	text-decoration: underline;
} */

.underlineLink:hover{
	text-decoration: underline;
}

#header-right{
	background-color: #006AFE;
	width: 249px;
	height: 56px;
	border-radius: 50px;
	margin-right: 55px;
	text-align: center;
	font-size: 14px;
	color: #FEF5E4;
}

#header-right:hover{
	background-color: #FF6F26;
	transition: background-color 0.3s ease;
	width: 249px;
	height: 56px;
	border-radius: 50px;
	margin-right: 55px;
	text-align: center;
	font-size: 14px;
	color: #FEF5E4;
}

#hero-image-section{
	background-image: url('/images/home-hero.png');
	background-size: cover;
	width: 100%;
    height: 676px;
}

#hero-image-section::before {
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 676px;
    background: rgba(0, 106, 254, .35); 
}

#hero-image-section h2{
	position: absolute;
	color: #FEF5E4;
	font-size: 84px;
	top: 428px;
	left: 56px;
}

#hero-image-section #explore-button{
	position: absolute;
	left: 120px;
	top: 680px;
	width: 249px;
	height: 45px;
	background-color: #006AFE;
	border-radius: 40px;
	text-align: center;
	line-height: 10px;
	color: #FEF5E4;
}

#hero-image-section #explore-button:hover{
	position: absolute;
	left: 120px;
	top: 680px;
	width: 249px;
	height: 45px;
	background-color: #FF6F26;
	border-radius: 40px;
	text-align: center;
	line-height: 10px;
	color: #FEF5E4;
	transition: background-color 0.3s ease;
}

#explore-services{
	background-color: #FEF5E4;
	height: 376px;
	justify-content: space-between;;
}

.service-icon{
	background-color: #FF6F26;
	width: 360px;
	height: 200px;
	border-radius: 50px;
	margin: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
	align-items: center;
	justify-content: center;
	color: #FEF5E4;
}

.service-icon:hover{
	background-color: #006AFE;
	/* width: 360px;
	height: 200px;
	border-radius: 50px;
	margin: 50px;
	margin-top: 100px;
	margin-bottom: 100px;
	align-items: center;
	justify-content: center;
	color: #FEF5E4; */
	transition: background-color 0.3s ease;
}

.service-icon h2{
	font-size: 36px;
	margin: 0px;
}
.service-icon h3{
	font-size: 22px;
}

/* common classes */
.centering{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:fit-content;
}

a {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	text-decoration: inherit;
}

.loginLink{
    color: var(--WYNgray);
    text-decoration: underline;
}

.loginLink:hover {
    color: var(--WYNorange);
}

.service-icon h2:hover{
	font-size: 36px;
	margin: 0px;
	text-decoration: underline;
}

#about-us{
	background-image: url('/images/about-us.jpg');
	background-size: cover;
	width: 100%;
    height: 676px;
}

#about-us::before {
    content: "";
    position: absolute;
    top: 1202px;
    left: 0;
    width: 100%;
    height: 676px;
    background: rgba(0, 42, 102, .5); 
}

#about-us h2{
	position: absolute;
	color: #FEF5E4;
	font-size: 84px;
	top: 1400px;
	left: 950px;
	text-align: center;
}

#about-us-button{
	position: absolute;
	left: 1050px;
	top: 1750px;
	width: 249px;
	height: 45px;
	background-color: #006AFE;
	border-radius: 40px;
	text-align: center;
	line-height: 10px;
	color: #FEF5E4;
}

#about-us-button:hover{
	position: absolute;
	left: 1050px;
	top: 1750px;
	width: 249px;
	height: 45px;
	background-color: #FF6F26;
	border-radius: 40px;
	text-align: center;
	line-height: 10px;
	color: #FEF5E4;
	transition: background-color 0.3s ease;
}

#footer-div{
	justify-content: space-between;
	align-items: center;
	height: 150px;
	background-color: #006AFE;
	margin: 0px;
	padding: 0px;
}

#footer-div img{
	width: 114px;
	height: 77px;
}

#footer-div h3{
	color: #FEF5E4;
	/* margin:100px; */
	margin: 0px 100px 0px 100px;
}

#footer-div h3:hover{
	/* color: #FEF5E4;
	margin: 100px; */
	text-decoration: underline;
}

footer{
	margin: 0px;
	padding: 0px;
}


/* login */

loginBG{
    background-color: var(--WYNblue);
    display:block;
    padding-top: 1px; /*These paddings are needed to make it include the login container padding*/
    padding-bottom: 1px;
}

loginContainer{
    font-size:20px;
    line-height: 1.5;

    background-color: var(--WYNwhite);

    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    /* display:block; */
    border-radius: 8px;
}

loginTitle{
    color:var(--WYNorange);
    font-size: 32px;
    text-align: center;

    display:block;
    padding-bottom: 20px;
}

.loginForm{
    color:var(--WYNorange);

    /* align-items: center;
    justify-content: center; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.loginField{
    font-size: 20px;
    font-family: inherit;

    background-color:var(--WYNwhite);
    border-width: 0px 0px 1px 0px;
    border-bottom-color: black;
    /* border-radius: 2px; */

    width: 100%;
    height: 30px;
    margin-bottom: 18px;
}

.blueButton {
    color: var(--WYNwhite);
    font-size: 18px;

    background-color: var(--WYNblue);

    border-radius: 8px;
    padding: 4px 12px;
    border-width:2px;
}

/* sign up */
signupLabel{
    font-size: 24px;
	padding-top: 16px;
    padding-bottom: 8px;
    display: block;
}

.inputDescription{
    font-size: 20px;
    font-family: inherit;

    background-color: var(--WYNwhite);

    width: 100%;
    resize: none;
}

input[type=checkbox].loginFielda{
    height:16px;
    width:fit-content;
    accent-color: var(--WYNorange);
    display: inline-block;
    /* float: right; */
}

.loginCheck{
    width: 20px;
    height: 20px;
    margin: 6px 0px 6px 0px;

    accent-color: var(--WYNorange);
    float: right;
}

/* messaging */
.flexContainer{
	display:flex;
	flex-direction: column;
}

.messageContainer{
	font-size: 0px;

	border: var(--WYNblue) solid 4px;
	height: calc(100vh - 150px - 8px - 20px); /*100% of screen height, minus header height, minus border height*/
	width: calc(100%-8px);
}

.peopleList {
	color: var(--WYNblue);
	font-size: 22px;

	display: inline-block;
	width: 40%;
	height: 100%;
	vertical-align: top;
	overflow-y:auto;

	background-color: var(--WYNgold);
}

peopleProfile{
	width: calc(100% - 24px);
	height: 60px;
	padding: 10px;
	border: 2px solid var(--WYNblue);
	display: block;
}

.peopleProfileImg{
	height: 60px;
	width: 60px;
	display: inline-block;
	object-fit: cover;
	border-radius: 50%;
    vertical-align: middle;
}

peopleProfileTextContainer{
	display: inline-block;
    vertical-align: middle;
	width: calc(100% - 86px);
	height: 80%;
	margin: 8px;
}

peopleProfileName{
	font-size: 22px;
	height: 40%;
	width: 100%;
	display: inline-block;
}

peopleProfileLastMessage{
	font-size: 14px;

	height: 60%;
	width: 100%;

	overflow: hidden;
	display: -webkit-box; /*this lets the message be cut off with elipses and be multiple lines*/
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.messageMenuContainer {
	width: 100%;
	height: 100%;

	display: flex;
  	flex-flow: column;
}


messageHeader {
	height: 60px;
	background-color: var(--WYNwhite);
	display: block;
	padding: 12px;
}

messageHeaderName {
	font-size: 22px;

	display: inline-block;
    vertical-align: middle;
	width: fit-content;
	max-width: calc(100% - 60px);
	margin-left: 8px;
}

.messageMenu {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column-reverse;
	padding: 20px;

	overflow-y:auto;
	overflow-anchor: bottom;

	background-color: var(--WYNorange);
}

messageBubble{
	color: black;
	font-size: 16px;

	display: block;
	width: fit-content;
	max-width: 65%;
	border-radius: 20px;
	padding: 12px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.msgFromUser{
	margin-left: auto;
	margin-right: 0px;
	border-bottom-right-radius: 0px;
	background-color: var(--WYNwhite);
}

.msgFromOther{
	margin-left: 0px;
	margin-right: auto;
	border-bottom-left-radius: 0px;
	background-color: var(--WYNblue);
}

.sendMessage{
	background-color: var(--WYNblue);
	width: 100%;
	height: 50px;
	padding: 2px;

}

.sendMessageText{
	background-color: var(--WYNwhite);
	border-radius: 8px;
	width: 88%;
	margin: 4px;
	padding: 4px;

	vertical-align: middle;
}

.sendMessageSubmit {
	background-color: var(--WYNwhite);
	border-radius: 50%;
	height: 40px;
	width: 40px;

	vertical-align: middle;
}

/*rachels edits 2/25*/

#service-details-main-content{
	background-color: var(--WYNwhite);
	padding-top: 75px;
	padding-bottom: 75px;
}

#service-left{
	padding-left: 200px;
	width: 700px;
}

#service-left img{
	width: 700px;
}

#service-left p{
	padding-top: 10px;
	color: #0453B2;
	font-weight: 300;
	font-size: 20px;
}

#service-right{
	padding-left: 100px;
}

#service-right h2{
	color: var(--WYNblue);
	padding: 0px;
	margin: 0px;
	font-size: 38px;
	text-align: right;
}

#service-right h3{
	color: var(--WYNblue);
	padding: 0px;
	margin: 0px;
	font-weight: 300;
	text-align: right;
}





#send-request-button{
	background-color: #006AFE;
	width: 400px;
	height: 56px;
	border-radius: 50px;
	margin-top: 200px;
	margin-left: 30px;
}

#send-request-button h2{
	font-size: 24px;
	margin-top: 13px;
	text-align: center;
	color: #FEF5E4;
}

#send-request-button:hover{
	background-color: #FF6F26;
	transition: background-color 0.3s ease;
}

#service-confirmation{
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: var(--WYNwhite);
	align-items: center;
	justify-content: center;
}

#service-confirmation h2{
	color: var(--WYNorange);
	font-size: 38px;
}

#service-confirmation h3{
	color: var(--WYNblue);
	font-size: 24px;
	font-weight: 300;
}

#return-to-service{
	background-color: #006AFE;
	margin-top: 50px;
	width: 400px;
	height: 56px;
	border-radius: 50px;
}

#return-to-service:hover{
	background-color: #FF6F26;
	transition: background-color 0.3s ease;
}

#return-to-service h2{
	font-size: 24px;
	margin-top: 16px;
	text-align: center;
	color: #FEF5E4;
}

.service-array {
    display: flex;
    background-color: var(--WYNwhite);
    flex-wrap: wrap; 
    gap: 70px;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .service-item {
    flex: 0 1 calc(33.33% - 70px);
    box-sizing: border-box;
    height: 300px;
    width: 100px;
    text-align: center;
    color: var(--WYNblue);
  }

  .service-item img{
  	width: 300px;
  	padding-bottom: 10px;
  }

  .service-item h3{
  	padding: 0px;
  	padding-bottom: 10px;
  	margin: 0px;
  }

  .service-item h2{
  	padding: 0px;
  	padding-bottom: 10px;
  	margin: 0px;
  }

#star-rating{
  	color: var(--WYNorange);
  	padding-top: 20px;
  	padding-left: 350px;
  }
